body{
    text-align: center;
    background-color: navy;
    color: white;
}
div{
    background-color: rgb(215, 231, 252);
    color: darkblue;
    display: inline-block;
    padding: 0px 10px 10px 10px;
    border:oldlace solid 4px;;
}
label{
    display: block;
    font-size: x-large;
    font-weight: 600;
}
button{
    width:100%; 
    text-align: center; 
    display:block; 
    background-color: darkblue; 
    color: whitesmoke;
    font-size: x-large;
}